# 文件夹
.tmp
T-model-baseline
T-model-knn
T-model-knn-ckpt
T-model-knn-ckpt-shuffle

pretrained-model/en/BART/*.bin
pretrained-model/zh/BART/*.bin
pretrained-model/zh/KNN_BART/pytorch_model.bin
pretrained-model/checkpoint/AISHELL-1/*bin



