# 文件夹

.tmp
a_past_result
analysis

datastore/en/LIBRISPEECH_CLEAN
datastore/zh/AISHELL-1

Offline/*
Offline_domain_context/*
T-model-baseline/*
T-model-baseline-sliding-2
T-model-baseline-sliding-4
T-model-baseline-sliding-6

T-model-knn/*
T-model-knn-ckpt/*
T-model-knn/zh-HKUST-layer=5-K=64.v1
T-model-knn-ckpt-domain-context/*
T-model-knn-domain-context/*

T-model-baseline/*/model-checkpoint/*.pt
T-model-knn/*/model-checkpoint/*.pt
T-model-knn-ckpt/*/model-checkpoint/*.pt
T-model-knn-ckpt-shuffle/*/model-checkpoint/*.pt
T-model-knn-shuffle/*/model-checkpoint/*.pt
T-model-baseline-sliding-4/*/model-checkpoint/*.pt

T-model-baseline/*/tensorboard
T-model-knn/*/tensorboard
T-model-knn-ckpt/*/tensorboard
T-model-knn-ckpt-shuffle/*/tensorboard
T-model-knn-shuffle/*/tensorboard


T-model-baseline/*/result/*.txt
T-model-knn/*/result/*.txt
T-model-knn-ckpt/*/result/*.txt
T-model-knn-ckpt-shuffle/*/result/*.txt
T-model-knn-shuffle/*/result/*.txt

pretrained-model/en/BART/*.bin
pretrained-model/zh/BART/*.bin
pretrained-model/zh/KNN_BART/*.bin
pretrained-model/en/KNN_BART/*.bin
pretrained-model/checkpoint/AISHELL-1/*bin
pretrained-model/checkpoint/HKUST/*.bin
pretrained-model/checkpoint/LIBRISPEECH_CLEAN/*.bin





